<div nz-row class="chat-component">
  <div nz-col [nzSpan]="8" class="message-list-container gutter-row">
    <nz-list
      [nzDataSource]="data"
      [nzRenderItem]="item"
      [nzItemLayout]="'horizontal'"
      [nzLoading]="loading"
    >
      <ng-template #item let-item>
        <nz-list-item class="chat-item" (click)="getId(item.title)">
          <nz-list-item-meta
            [nzTitle]="nzTitle"
            nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
            nzDescription="Ant Design, a design language for background applications, is refined by Ant UED Team"
          >
            <ng-template #nzTitle>
              <a href="https://ng.ant.design">{{ item.title }}</a>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>

  <div nz-col [nzSpan]="16" class="chat-window gutter-row">
    <div class="message-view-area">
      <!-- spinner while loading -->
      <nz-spin class="spinner" [nzSpinning]="isSpinning"></nz-spin>
    </div>

    <div class="message-type-area">
      <ng-template #suffixIconSearch>
        <i class="info-icon" nz-icon type="info-circle"></i>
      </ng-template>
      <nz-input-group nzSearch nzSize="large">
        <textarea
          type="text"
          nz-input
          nzAutosize
          placeholder="Type your message and press enter"
          [(ngModel)]="message"
          (keyup.enter)="clicked()"
        ></textarea>
      </nz-input-group>
    </div>
  </div>
</div>
