/* You can add global styles to this file, and also import other style files */
:host ::ng-deep .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

html > body {
  height: 100%;
  width: 100%;
}

body {
  nz-layout {
    height: 100%;
    width: 100%;
  }
}
